#login h1 a {
  height: 56px;
  background-size: contain;
}

#iop-login-message {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 24px;
}

#iop-client-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--iop-login-logo-margin-top, 0) var(--iop-login-logo-margin-right, 0) var(--iop-login-logo-margin-bottom, 0)
    var(--iop-login-logo-margin-left, 0);
  color: var(--iop-login-logo-color, currentColor);
}

#iop-client-logo svg {
  width: 100%;
  max-width: var(--iop-login-logo-max-width, 270px);
  height: 100%;
  max-height: var(--iop-login-logo-max-height, 125px);
  fill: currentColor;
  object-fit: contain;
}

#iop-login-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em auto 2em auto;
}

#iop-login-footer a {
  display: block;
  width: 36px;
  height: 36px;
  color: var(--iop-login-footer-logo-color, #50575e);

  &:hover {
    color: var(--iop-login-footer-logo-hover, #135e96);
  }
}

#iop-login-footer svg {
  object-fit: contain;
}
